
body {
  background-image: url("https://lh5.googleusercontent.com/proxy/juRIZxCFwH4mT8HX0_4wzsnPafuDe3ddzD0Ctznbzc9Kqcdn_Z4hsJpEp9Z_M6UsWLM5uN6pz_1pV7MOZV2Qydf1wBrXdfcTdRPuL3FHI7bxeE4m18ITKFk1il8KAjo46AqADs7NyOBsAp6rMtfXWjhT8ldqbf5AFM53iTy__Zi9NaMAv-JBkhhZxQehHBXk_2i92WVhyaFNxskE0tjunWSSJQ=w1200-h630-p-k-no-nu");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
    display: grid;
    grid-template-columns: -2fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
  }
  
  input,
  select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #2980b9;
  }
  
  input:focus,
  select:focus {
    outline: none;
    border-color: #3498db;
  }
