form {
    background-image: url("https://s.kaskus.id/images/2018/04/20/10160845_20180420125143.jpg");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    text-align: center;
  }
  
  form h3 {
    font-size: 28px;
    margin-top: 0;
    text-align: center;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
  
  form select, form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 13px;
  }
  
  form button[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
    margin-top: 10px;
  }
  
  form button[type="button"]:hover {
    background-color: #45a049;
  }
  
  form input[type="text"]:focus, form select:focus, form input[type="number"]:focus {
    outline: none;
    border: 1px solid #4CAF50;
  }
  
  form input[type="text"]::placeholder, form select::placeholder, form input[type="number"]::placeholder {
    color: #aaa;
  }
  